@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import 'tailwindcss';

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-bg: #2D2D34;
  --color-text: #FCFCFC;
}

:root {
  font-family: var(--font-roboto);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.bg {
  background-image: linear-gradient(to right, rgba(45, 45, 52, 0.85), rgba(45, 45, 52, 0.7)), url(assets/bg.jpg);
}